{% extends 'base.html.twig' %}

{% block title %}Produits - LUM ADM-LIGHT
{% endblock %}

{% block body %}
	<main>
	<section class="lien2">
		{% if is_granted("ROLE_ADMIN") %}
			<a href="{{path("produit_ajouter")}}" class="lien2" ><i class="fa fa-plus"> Ajouter un produit</i></a>
		{% endif %}
	</section>

		<section class="sectionproduit">
			{% for produit in produits %}
				<a href="{{ path("produit_detail", {"id": produit.id})}}">
					<article class="cardproduit">
						<div class="imageprod">
							<img class="cardimg" src="/images/{{produit.photo}}" alt="Card-Image">
						</div>
						<div class="titreprod">
							<h3 class="card-title">{{ produit.titre }}</h3>
						</div>
					</article>
				</a>
			{% endfor %}
		</section>
	</main>
{% endblock %}
